javaClient/javaClient/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ayoub.sakine/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ayoub.sakine/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ayoub.sakine/" schemaLocation="http://localhost:9000/?xsd=1"/>
</xsd:schema>
</types>
<message name="convert">
<part name="parameters" element="tns:convert"/>
</message>
<message name="convertResponse">
<part name="parameters" element="tns:convertResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="comptes">
<part name="parameters" element="tns:comptes"/>
</message>
<message name="comptesResponse">
<part name="parameters" element="tns:comptesResponse"/>
</message>
<portType name="BanqueWS">
<operation name="convert">
<input wsam:Action="http://services.ayoub.sakine/BanqueWS/convertRequest" message="tns:convert"/>
<output wsam:Action="http://services.ayoub.sakine/BanqueWS/convertResponse" message="tns:convertResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://services.ayoub.sakine/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://services.ayoub.sakine/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="comptes">
<input wsam:Action="http://services.ayoub.sakine/BanqueWS/comptesRequest" message="tns:comptes"/>
<output wsam:Action="http://services.ayoub.sakine/BanqueWS/comptesResponse" message="tns:comptesResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:9000/"/>
</port>
</service>
</definitions>